<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./resource/img/Icon-SaleCraft.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/styleIndex.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Salecraft</title>
</head>

<body>
    <header>
        <div class="Marca">
            <img src="./resource/img/Icon-SaleCraft.png" alt="icon" />
            <h1>SALECRAFT</h1>
            <div class="navegation">
                <a href="/register" class="link link-Cc">Crear cuenta</a>
                <a href="/login" class="link link-Is">Inicair sesion</a>

            </div>
        </div>
    </header>

    <div class="separador">
        <p>Planes de servicios para tus servidores de Minecraft</p>
    </div>
    <div class="container-type-rango">
        <div class="separador-rangos"></div>
        <h3 class="title-clase">PASIVOS</h3>
        <div class="Type Type-Pasive">
            <div class="Server Rango-Axolotl Pasive">
                <div class="header-title">
                    <img class="img" src="./resource/imgIconsRango/AxolotlFace.webp" alt="Axolotl" />
                    <h3 class="title">Axolotl</h3>
                    <p><span>$</span>1.500.000/mes</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <i class="fas fa-check blue"></i> <span>25GB</span> Minecraft
                            Server
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Espacio de Jugadores
                            Ilimitados
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Almacenamiento <span>SSD</span> Ilimitado
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Conexión de <span>1Gbps</span>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Ancho de Banda sin Restricción
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Promoción Especial de
                            <a href="">Enjin</a> &amp; <a href="">Buycraft</a>
                        </li>
                        <li><i class="fas fa-check blue"></i> Chat de Soporte en Vivo</li>
                        <li>
                            <i class="fas fa-check blue"></i> Minecraft Pocket Edition
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Panel de Control Multicraft
                        </li>
                    </ul>
                </div>
                <button class="btn btn-shop">
                    <i class="fa-solid fa-cart-plus"></i>
                </button>
            </div>
            <div class="Server Rango-Armadillo Pasive">
                <div class="header-title">
                    <img class="img" src="./resource/imgIconsRango/ArmadilloFace.webp" alt="Armadillo" />
                <h3>Armadillo</h3>
                <p><span>$</span>1.000.000/mes</p>
                </div>
                
                <div class="card-body">
                    <ul>
                        <li>
                            <i class="fas fa-check blue"></i> <span>18GB</span> Minecraft
                            Server
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Espacio de Jugadores
                            Ilimitados
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Almacenamiento
                            <span>SSD</span> Ilimitado
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Conexión de <span>1Gbps</span>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Ancho de Banda sin Restricción
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Promoción Especial de
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Enjin Special Promotions">Enjin</a>
                            &amp;
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Buycraft Special Promotions">Buycraft</a>
                        </li>
                        <li><i class="fas fa-check blue"></i> Chat de Soporte en Vivo</li>
                        <li>
                            <i class="fas fa-check blue"></i> Minecraft Pocket Edition
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Panel de Control Multicraft
                        </li>
                    </ul>
                </div>
                <button class="btn btn-shop">
                    <i class="fa-solid fa-cart-plus"></i>
                </button>
            </div>
            <div class="Server Rango-Allay Pasive">
                <div class="header-title">
                    <img class="img" src="./resource/imgIconsRango/AllayFace.webp" alt="Allay" />
                <h3>Allay</h3>
                <p><span>$</span>800.000/mes</p>
                </div>

                
                <div class="card-body">
                    <ul>
                        <li>
                            <i class="fas fa-check blue"></i> <span>16GB</span> Minecraft
                            Server
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Espacio de Jugadores
                            Ilimitados
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Almacenamiento
                            <span>SSD</span> Ilimitado
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Conexión de <span>1Gbps</span>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Ancho de Banda sin Restricción
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Promoción Especial de
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Enjin Special Promotions">Enjin</a>
                            &amp;
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Buycraft Special Promotions">Buycraft</a>
                        </li>
                        <li><i class="fas fa-check blue"></i> Chat de Soporte en Vivo</li>
                        <li>
                            <i class="fas fa-check blue"></i> Minecraft Pocket Edition
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Panel de Control Multicraft
                        </li>
                    </ul>
                </div>
                <button class="btn btn-shop">
                    <i class="fa-solid fa-cart-plus"></i>

                </button>
            </div>
        </div>

        <div class="separador-rangos"></div>
        <h3 class="title-clase">NEUTRALES</h3>
        <div class="Type Type-Neutral">
            <div class="Server Rango-Enderman Neutral">
                <div class="header-title">
                    <img class="img" src="./resource/imgIconsRango/EndermanFace.webp" alt="Enderman" />
                <h3>Enderman</h3>
                <p><span>$</span>700.000/mes</p>
                </div>

                
                <div class="card-body">
                    <ul>
                        <li>
                            <i class="fas fa-check blue"></i> <span>12GB</span> Minecraft
                            Server
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Espacio de Jugadores
                            Ilimitados (50)
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Almacenamiento
                            <span>SSD</span> Ilimitado
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Conexión de <span>1Gbps</span>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Ancho de Banda sin Restricción
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Promoción Especial de
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Enjin Special Promotions">Enjin</a>
                            &amp;
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Buycraft Special Promotions">Buycraft</a>
                        </li>
                        <li><i class="fas fa-check blue"></i> Chat de Soporte en Vivo</li>
                        <li>
                            <i class="fas fa-check blue"></i> Minecraft Pocket Edition
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Panel de Control Multicraft
                        </li>
                    </ul>
                </div>
                <button class="btn btn-shop">
                    <i class="fa-solid fa-cart-plus"></i>
                </button>
            </div>
            <div class="Server Rango-IronGolem Neutral">
                <div class="header-title">
                    <img class="img" src="./resource/imgIconsRango/IronGolemFace.webp" alt="Iron Golem" />
                <h3>Iron Golem</h3>
                <p><span>$</span>600.000/mes</p>
                </div>

                
                <div class="card-body">
                    <ul>
                        <li>
                            <i class="fas fa-check blue"></i> <span>8GB</span> Minecraft
                            Server
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Espacio de Jugadores limitados
                            (30)
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Almacenamiento
                            <span>SSD</span> Ilimitado
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Conexión de <span>1Gbps</span>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Ancho de Banda sin Restricción
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Promoción Especial de
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Enjin Special Promotions">Enjin</a>
                            &amp;
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Buycraft Special Promotions">Buycraft</a>
                        </li>
                        <li><i class="fas fa-check blue"></i> Chat de Soporte en Vivo</li>
                        <li>
                            <i class="fas fa-check blue"></i> Minecraft Pocket Edition
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Panel de Control Multicraft
                        </li>
                    </ul>
                </div>
                <button class="btn btn-shop">
                    <i class="fa-solid fa-cart-plus"></i>

                </button>
            </div>
            <div class="Server Rango-Drowned Neutral">
                <div class="header-title">
                    <img class="img" src="./resource/imgIconsRango/DrownedFace.webp" alt="Drowned" />
                <h3>Drowned</h3>
                <p><span>$</span>500.000/mes</p>
                </div>

                
                <div class="card-body">
                    <ul>
                        <li>
                            <i class="fas fa-check blue"></i> <span>6GB</span> Minecraft
                            Server
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Espacio de Jugadores limitados
                            (20)/li>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Almacenamiento
                            <span>SSD</span> Ilimitado
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Conexión de <span>1Gbps</span>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Ancho de Banda sin Restricción
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Promoción Especial de
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Enjin Special Promotions">Enjin</a>
                            &amp;
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Buycraft Special Promotions">Buycraft</a>
                        </li>
                        <li><i class="fas fa-check blue"></i> Chat de Soporte en Vivo</li>
                        <li>
                            <i class="fas fa-check blue"></i> Minecraft Pocket Edition
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Panel de Control Multicraft
                        </li>
                    </ul>
                </div>
                <button class="btn btn-shop">
                    <i class="fa-solid fa-cart-plus"></i>

                </button>
            </div>
        </div>

        <div class="separador-rangos"></div>
        <h3 class="title-clase">HOSTILES</h3>
        <div class="Type Type-Hostile">
            <div class="Server Rango-Warden Hostile">
                <div class="header-title">
                    <img class="img Warden" src="./resource/imgIconsRango/WardenFace.webp" alt="Warden" />
                <h3>Warden</h3>
                <p><span>$</span>300.000/mes</p>
                </div>

                
                <div class="card-body">
                    <ul>
                        <li>
                            <i class="fas fa-check blue"></i><span>4GB</span>  Minecraft
                            Server
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Espacio de Jugadores limitados
                            (20)
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Almacenamiento
                            <span>SSD</span> limitado
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Conexión de <span>1Gbps</span>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Ancho de Banda sin Restricción
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Promoción Especial de
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Enjin Special Promotions">Enjin</a>
                            &amp;
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Buycraft Special Promotions">Buycraft</a>
                        </li>
                        <li><i class="fas fa-check blue"></i> Chat de Soporte en Vivo</li>
                        <li>
                            <i class="fas fa-check blue"></i> Minecraft Pocket Edition
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Panel de Control Multicraft
                        </li>
                    </ul>
                </div>
                <button class="btn btn-shop">
                    <i class="fa-solid fa-cart-plus"></i>

                </button>
            </div>
            <div class="Server Rango-Creeper Hostile">
                <div class="header-title">
                    <img class="img" src="./resource/imgIconsRango/CreeperFace.webp" alt="Creeper" />
                <h3>Creeper</h3>
                <p><span>$</span>200.000/mes</p>
                </div>

                
                <div class="card-body">
                    <ul>
                        <li>
                            <i class="fas fa-check blue"></i> <span>2GB</span> Minecraft
                            Server
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Espacio de Jugadores limitados
                            (15)
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Almacenamiento
                            <span>SSD</span> limitado
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Conexión de <span>1Gbps</span>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Ancho de Banda sin Restricción
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Promoción Especial de
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Enjin Special Promotions">Enjin</a>
                            &amp;
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Buycraft Special Promotions">Buycraft</a>
                        </li>
                        <li><i class="fas fa-check blue"></i> Chat de Soporte en Vivo</li>
                        <li>
                            <i class="fas fa-check blue"></i> Minecraft Pocket Edition
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Panel de Control Multicraft
                        </li>
                    </ul>
                </div>
                <button class="btn btn-shop">
                    <i class="fa-solid fa-cart-plus"></i>

                </button>
            </div>
            <div class="Server Rango-Skeleton Hostile">
                <div class="header-title">
                    <img class="img" src="./resource/imgIconsRango/SkeletonFace.webp" alt="Skeleton" />
                <h3>Skeleton</h3>
                <p><span>$</span>100.000/mes</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <i class="fas fa-check blue"></i> <span>1GB</span> Minecraft
                            Server
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Espacio de Jugadores limitados
                            (10)
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Almacenamiento
                            <span>SSD</span> limitado
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Conexión de <span>1Gbps</span>
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Ancho de Banda sin Restricción
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Promoción Especial de
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Enjin Special Promotions">Enjin</a>
                            &amp;
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Buycraft Special Promotions">Buycraft</a>
                        </li>
                        <li><i class="fas fa-check blue"></i> Chat de Soporte en Vivo</li>
                        <li>
                            <i class="fas fa-check blue"></i> Minecraft Pocket Edition
                        </li>
                        <li>
                            <i class="fas fa-check blue"></i> Panel de Control Multicraft
                        </li>
                    </ul>
                </div>
                <button class="btn btn-shop">
                    <i class="fa-solid fa-cart-plus"></i>

                </button>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
        <p>
            <a href="#">Términos y condiciones</a> |
            <a href="#">Política de privacidad</a>
        </p>
    </footer>
</body>

</html>