<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../resource/img/Icon-SaleCraft.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <title>Salecraft</title>
</head>

<body>
    <header>
        <div class="Marca">
            <img src="../resource/img/Icon-SaleCraft.png" alt="icon" />

            <h1>SALECRAFT</h1>
        </div>
    </header>
    <div class="container">
        <div class="form-box">
            <h2>Iniciar sesion</h2>
            <div class="input-login">
                <form id="myForm">
                    <div class="input-box">
                        <span>
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <input type="text" id="username" name="username" placeholder="" required>
                        <label for="username">Usuario</label>
                        <div class="mensage-error"></div>
                    </div>

                    <div class="input-box">
                        <span>
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input type="password" name="password" id="password" placeholder="" required />
                        <label for="password">Contraseña</label>
                        <div class="mensage-error"></div>
                    </div>
                    <div class="remenber-forgot">
                        <label for=""><input type="checkbox" name="" id="" class="checkbox"/> Ver contraseña</label>
                        <a href="">¿Olvidaste la contraseña?</a>
                    </div>

                    <button class="btn btnn-entrar">Entrar</button>
                    <div class="Registrase">
                        <a href="/register">Crear cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/validationLogin.js"></script>


</html>