<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../resource/img/Icon-SaleCraft.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/shop.css">
    <title>Salecraft</title>

</head>

<body>
    <header>
        <div class="Marca">
            <img src="resource/img/Icon-SaleCraft.png" alt="icon">
            <h1>SALECRAFT</h1>
        </div>
    </header>

    <div class="container">
        <h2>Tu carrito</h2>
        <h3>[ACA VA EL NOMBRE DEL SERVER]</h3>
        <h3>$[VALOR DEL SERVER]/mes</h3>
        <a id="Cupon">¿Tienes código de descuento?</a>
        <input type="text" id="code" class="hidden">
        <p>Precio total = $[TALES]</p>
        <p>Se renueva el plan en [FECHA], ¡Cancela cuando quieras!</p>
    
        <button>Comprar</button>
    
        <a href="/">Ver más ofertas</a>
    </div>
    <script src="/js/carrito.js"></script>
</body>
</html>