<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../resource/img/Icon-SaleCraft.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/header.css"/>
    <link rel="stylesheet" href="styles/shop.css">
    <title>Salecraft</title>

</head>
<body>
    <header>
        <div class="Marca">
            <img src="resource/img/Icon-SaleCraft.png" alt="icon">
            <h1>SALECRAFT</h1>
        </div>
    </header>
    <div class="container">
        <div class="info-card">
            <h2>SERVIDOR</h2>
            <p>Estas adquieriendo el servidor [TALES]</p>
            <p>VALOR = $ [TALES]/mes</p>
        </div>
        <div class="shop-card">
            <h2>COMPRA</h2>
            <form action="myForm">
                <input type="text" placeholder="CODIGO DESCUENTO">
                <input type="number" id="cantidad" value="1">
                <button>Comprar</button>
            </form>
            <p>Precio total = $[TALES]</p>
        </div>
    </div>
</body>
</html>